<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Game Lobby</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="lobby">
        <h1>Lobby</h1>
        <div class="columns">
            <div class="column">
                <h2>Connected Users:</h2>
                <ul id="user-list"></ul>
            </div>
            <div class="column">
                <h2>Available Games:</h2>
                <ul id="game-list"></ul>
            </div>
        </div>
        <div>
            <hr>
            <input type="text" id="game-id-input" placeholder="Game Name">
            <div>
                <select id="deck-select">
                    {% for choice in deck_choices %}
                    <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                </select>
                <button id="create-game">Create Game</button>
                <button id="join-game">Join Game</button>
            </div>
        </div>
    </div>

    <div id="game" style="display: none;">
        <h1 id="game-id">Game Room</h1>
        <button id="leave-game">Leave Game</button>
        <h2>Players:</h2>
        <ul id="player-list"></ul>
        <hr>
        <div id="game-info"></div>
        <button id="draw-card">Draw Card</button>
        <h2>Your Hand:</h2>
        <ul id="hand" class="card-list"></ul>
        <h2>Revealed Cards:</h2>
        <ul id="revealed-cards"></ul>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>